<div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
  {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="feature-row__image lazyload"
    data-src="{{ img_url }}"
    data-widths="[180, 360, 540, 750, 900, 1080]"
    data-aspectratio="{{ image.aspect_ratio }}"
    data-sizes="auto"
    role="presentation"
    alt="{{ image.alt }}">
</div>