<div class="section_container">
  <div class="page-width">
    <div class="main_content text-center">
      <div class="section_header">
        {% if section.settings.title != blank %}
          <h2 class="title">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.subtitle != blank %}
          <div class="subtitle">{{ section.settings.subtitle }}</div>
        {% endif %}
      </div>
      {% if section.settings.content != blank %}
        <div class="content">{{ section.settings.content }}</div>
      {% endif %}
      {% if section.blocks.size > 0 %}
        <div class="card-grid d-flex">
          {% for block in section.blocks %}
            <div class="card-item">
              <div class="card-item-wrapper">
                <div class="card-item-header">
                  <div class="card-item-pretitle text-bold">{{ block.settings.pretitle }}</div>
                  <div class="card-item-title h2">{{ block.settings.title }}</div>
                  <div class="card-item-subtitle text-italic">{{ block.settings.subtitle }}</div>
                </div>
                <div class="card-item-content">{{ block.settings.content }}</div>
              </div>
              {% if block.settings.text != blank %}
                <div class="card-item-desc">{{ block.settings.text }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured card",
  "class": "featured-card",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settinsg"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "text",
          "id": "pretitle",
          "label": "Pre title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured card"
    }
  ]
}
{% endschema %}