<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.bg }};
  }
</style>

<div class="section_container">
  <div class="page-width">
    <div class="main_content text-center">
      <div class="page_header">
        {% if section.settings.title != blank %}
          <h2 class="title v-color">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.subtitle != blank %}
          <div class="subtitle">{{ section.settings.subtitle }}</div>
        {% endif %}
      </div>
      {% if section.settings.content != blank %}
        <div class="content text-left">
          {% assign content = section.settings.content | replace: 'p>', 'item>' %}
          {% assign content_arr = content | split: '<item>' %}
          {% for c in content_arr %}
            {% unless forloop.first %}
              <div class="content_list d-flex">
                {% assign c_item = c | split: '</item>' %}
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
                  <path d="M10.5859 13.4142L7.75748 10.5858L6.34326 12L10.5859 16.2426L17.657 9.17154L16.2428 7.75732L10.5859 13.4142Z" fill="black"/>
                </svg>
                {{ c_item[0] }}
              </div>
            {% endunless %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured richtext",
  "class": "featured-richtext",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ],
  "presets": [
    {
      "name": "Featured richtext"
    }
  ]
}
{% endschema %}