<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.bg }};
  }
</style>

<div class="section_container">
  <div class="page-width">
    <div class="main_content text-center">
      <div class="section_header v-color">
        {% if section.settings.title != blank %}
          <h1 class="title">{{ section.settings.title }}</h1>
        {% endif %}
        {% if section.settings.subtitle != blank %}
          <div class="subtitle h3">{{ section.settings.subtitle }}</div>
        {% endif %}
      </div>
      <div class="content d-flex">
        {% if section.settings.content != blank %}
          <div class="content_wrapper">
            {{ section.settings.content }}
          </div>
        {% endif %}
        <div class="image_wrapper" style="width: 40%;">
          {% render 'rimage', image: section.settings.image %}
          {% if section.settings.img_title != blank %}
            <div class="img_title text-right h3">{{ section.settings.img_title }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Featured Image with text",
  "class": "featured-image-with-text",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "img_title",
      "label": "Image title"
    }
  ],
  "presets": [
    {
      "name": "Featured image with text"
    }
  ]
}
{% endschema %}