<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.bg }};
  }
</style>

<div class="section_container">
  <div class="page-width">
    <div class="main_content text-center">
      <div class="page-header">
        {% if section.settings.title != blank %}
          <h2 class="title">{{ section.settings.title }}</h2>
        {% endif %}
      </div>
      <div class="content d-flex">
        {% for block in section.blocks %}
          <div class="block block-{{ block.type }} {{ block.settings.width }}">
            <div class="block-wrapper">
              {% if block.type == 'image' %}
                <div class="image_wrapper">{% render 'rimage', image: block.settings.image %}</div>
              {% elsif block.type == 'text' %}
                {% if block.settings.title != blank %}
                  <h4 class="block_title">{{ block.settings.title }}</h4>
                {% endif %}
                {% if block.settings.content != blank %}
                  <div class="block_content">{{ block.settings.content }}</div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="section_footer">
        {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
          <div class="btn_wrapper">
            <a href="{{ section.settings.btn_link }}" class="btn">{{ section.settings.btn_label }}</a>
          </div>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="footer_text">{{ section.settings.text }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured column",
  "class": "featured-column",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Contents"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Bottom text"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Column (text)",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "select",
          "options": [
            {
              "label": "Full width",
              "value": "full_width"
            },
            {
              "label": "Half width",
              "value": "half_width"
            }
          ],
          "default": "half_width",
          "label": "Width",
          "id": "width"
        }
      ]
    },
    {
      "type": "image",
      "name": "Column (image)",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "options": [
            {
              "label": "Full width",
              "value": "full_width"
            },
            {
              "label": "Half width",
              "value": "half_width"
            }
          ],
          "default": "half_width",
          "label": "Width",
          "id": "width"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured column"
    }
  ]
}
{% endschema %}