@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 769px) {
    @content;
  }
}

// ----------------------------- Font -----------------------------

$color-white: #FFF;
$color-yellow: #f2cc1a;
$color-grey: #a5a5a5;
$color-light-grey: #e9e9e9;
$color-author: #8c7b29;

.ff__rock-salt {
  font-family: 'Rock Salt', cursive !important;
}

.ff__elite {
  font-family: 'Special Elite', cursive !important;
}

.ff__raleway {
 font-family: 'Raleway', cursive !important; 
}

html {
  background: $color-white;
}

.d-flex {
  display: flex;
}

h1, .h1 {
  font-size: 64px;
  line-height: 1.2;
  @include mobile {
    font-size: 44px;
  }
}

h2, .h2 {
  font-size: 45px;
  line-height: 1.2;
  @include mobile {
    font-size: 36px;
  }
}

h3, .h3 {
  font-size: 34px;
  line-height: 1.2;
  @include mobile {
    font-size: 26px;
  }
}

h4, .h4 {
  font-size: 28px;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

section.shopify-section {
  padding-top: 75px;
  padding-bottom: 75px;
}

header, footer {
  display: none !important;
}

// ------------------------------ Homepage ---------------------------------

.v-color {
  strong {
    color: $color-yellow;
  }
}

// ============ Featured Image with Text section ==============

.shopify-section.featured-image-with-text {
  .subtitle {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .content {
    margin-top: 45px;
    @include mobile {
      flex-direction: column;
    }
    .content_wrapper {
      flex: 1;
    }
    .image_wrapper {
      min-width: 40%;
      max-width: 40%;
      padding-left: 60px;
      @include mobile {
        min-width: 100%;
        max-width: 100%;
        margin-top: 30px !important;
        padding-left: 0px;
      }
    }
  }
  .img_title {
    color: $color-author;
    margin-top: 30px;
    @include mobile {
      margin-top: 15px;
      text-align: center !important;
    }
  }
}


// ================== Featured card section ======================

.shopify-section.featured-card {
  .section_header {
    .subtitle {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .card-grid {
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 45px;
    @include mobile {
      flex-direction: column;
    }
  }
  .card-item {
    width: calc(100% / 3 - 30px);
    @include mobile {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .card-item-wrapper {
    border: 1px solid $color-grey;
  }
  
  .card-item-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .card-item-header {
    background: $color-yellow;
    padding: 30px;
  }
  .card-item-content {
    p {
      border-bottom: 1px solid $color-light-grey;
      font-size: 18px;
      margin: 0px;
      padding: 10px;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .card-item-desc {
    font-size: 16px;
    margin-top: 15px;
  }
}

// =============== Featured richtext section ===============

.shopify-section.featured-richtext {
  .subtitle {
    margin-top: 30px;
  }
  .content {
    margin-top: 30px;
    text-align: left;
  }
  .content_list {
    align-items: center;
    border-bottom: 1px solid $color-grey;
    padding-top: 10px;
    padding-bottom: 10px;
    @include mobile {
      align-items: flex-start;
    }
    svg {
      min-width: 30px;
      width: 30px;
      height: auto;
      margin-right: 10px;
    }
  }
}


// ================== Featured column section ================

.shopify-section.featured-column {
  .content {
    flex-wrap: wrap;
  }
  .block {
    padding: 30px;
    width: 100%;
    @include mobile {
      padding: 30px 0;
    }
  }
  .half_width {
    width: 50%;
    @include mobile {
      width: 100%;
    }
  }
  .section_footer {
    margin-top: 45px;
    @include mobile {
      margin-top: 30px;
    }
  }
  .footer_text {
    margin-top: 20px;
    a {
      color: #0800ee;
      text-decoration: underline;
    }
  }
}